
@font-face {
  font-family: 'Open Sans Light';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Open-Sans-300/Open-Sans-300.eot');
  src: url('../fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
  local('Open Sans Light'),
  local('Open-Sans-300'),
  url('../fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
  url('../fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
  url('../fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
  url('../fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'open_sanbold';
  src: url('../fonts/Open-Sans-300/opensans-semibold-webfont.woff2') format('woff2'),
  url('../fonts/Open-Sans-300/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Open Sans Light'
}

.glomp_header {
	background-color: #434345;
}

.glomp_nav {
  height: 40px !important;
  line-height: 37px !important;
}

.merchant-nav {
  color: #CCCCCB;
}

.merchant-nav a {
  color: #CCCCCB;
}

.merchant-nav .active {
  background-color: #858888
}

/* materialize override */
nav .menu {
  float: left;
  position: relative;
  z-index: 1;
  height: 56px;
  margin: 0 18px;
}

nav .menu i {
  height: 56px;
  line-height: 56px;
}

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.menu, nav a.menu i {
    height: 64px;
    line-height: 64px;
  }
  .navbar-fixed {
    height: 64px;
  }
}

nav {
  height: 40px;
}
.menu {
  height: 40px !important;
}

.menu i {
  height: 30px !important;
  line-height: 40px !important;
  margin-left: -10px
}

nav:hover ul {
  display: block;
}

nav ul{
  position: static;
  display: none;
  position: absolute;
  color: #ffffff;
  padding: 5px 10px 5px 11px;
  padding: 0px;
  background-color: rgba(88,95,107,0.0);
  left: 0px;
  top: 39px;
  width: 100%;
}

nav ul li {
  color: #ffffff;
  text-align: left;
  width: 100%;
  
  padding: 5px 10px 5px 15px;
  margin: 0;
  border-top: solid 1px #D1D5E0;
  background-color: rgba(85,85,87,0.9);
}

nav ul li a {
  color: white;
  font-size: 1.3rem;
  padding: 0px;
}

/* end materialize override */
footer a{
  color: white;
}

.glomp_footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 50px;
  margin-top: 0px !important;
  padding-top: 0px !important;
}

.profile_button {
  position: absolute;

}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  z-index: 2;
}

.glomp_center_f14 {
	font-size: 25px;
	color: #ffffff;
	text-align: center;
}

.button_blue {
  background-color: #1932c2; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  float: right;

}

.button_grey {
  background-color: #58585A; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  float: right;
  border: 1px solid #CCCCCB;
}

.glomp_text_f12 {
	position: absolute;
	font-size: 14px;
	color: #ffffff;

}

.img_displayed {
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 10%;
}

.col.grid-example {
  border-right: 1px  solid #CCCCCB;
  margin: 5px 0;
  
}

.dark_grey {
	color: #434345;
}



.less_dark_grey {

	color: #58585A;
}

/*for lines and text*/
.light_grey {

	color: #CCCCCB;
}

.red {
	color: #FF031E;
}

.white {
	color: #FFFFFF;
}

.blue{

	color: #0066AA;
}

.glomp-green {
  color: #29BCB4;
}

.glomp-red {
  color: #FF031E;
}



input[type=search] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: red;
  background-image: url('searchicon.png'); 
  background-position: center; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  
}

.glomp-tabs{

  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 38px;
  width: 100%;
  background-color: #58585A;
  margin: 0 auto;
  white-space: nowrap;
}






.glomp-tabs.glomp-tabs-transparent {
  background-color: transparent;
}

.glomp-tabs.glomp-tabs-transparent .tab a,
.glomp-tabs.glomp-tabs-transparent .tab.disabled a,
.glomp-tabs.glomp-tabs-transparent .tab.disabled a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.glomp-tabs.glomp-tabs-transparent .tab a:hover,
.glomp-tabs.glomp-tabs-transparent .tab a.active {
  color: #fff;
}

.glomp-tabs.glomp-tabs-transparent .indicator {
  background-color: #fff;
}

.glomp-tabs.glomp-tabs-fixed-width {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.glomp-tabs.glomp-tabs-fixed-width .tab {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.glomp-tabs .tab {
  display: inline-block;
  text-align: center;
  line-height: 48px;
  height: 48px;
  padding: 0;
  margin: 0;

}

.glomp-tabs .tab a {
  color: rgba(255, 255, 255, 0.7);
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 8px;
  font-size: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: color .28s ease;
}

.glomp-tabs .tab a:hover, .glomp-tabs .tab a.active {
  background-color: transparent;
  color: #ee6e73;
}

.glomp-tabs .tab.disabled a,
.glomp-tabs .tab.disabled a:hover {
  color: rgba(255, 255, 255, 0.7);
  cursor: default;
}


.glomp-tabs .indicator {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #f6b2b5;
  will-change: left, right;
}


.glomp-collection {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
}

.glomp-collection .glomp-collection-item {
  background-color: #58585A;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

.glomp-collection .glomp-collection-item.avatar {
  min-height: 84px;
  padding-left: 72px;
  position: relative;
}

.glomp-collection .glomp-collection-item.avatar .circle {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.glomp-collection .glomp-collection-item.avatar i.circle {
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  background-color: #999;
  text-align: center;
}

.glomp-collection .glomp-collection-item.avatar .title {
  font-size: 16px;
}

.glomp-collection .glomp-collection-item.avatar p {
  margin: 0;
}

.glomp-collection .glomp-collection-item.avatar .secondary-content {
  position: absolute;
  top: 16px;
  right: 16px;
}

.glomp-collection .glomp-collection-item:last-child {
  border-bottom: none;
}

.glomp-collection .glomp-collection-item.active {
  background-color: #26a69a;
  color: #eafaf9;
}

.glomp-collection .glomp-collection-item.active .secondary-content {
  color: #fff;
}

.glomp-collection a.glomp-collection-item {
  display: block;
  transition: .25s;
  color: #26a69a;
}

.glomp-collection a.glomp-collection-item:not(.active):hover {
  background-color: #ddd;
}

.glomp-collection.with-header .glomp-collection-header {
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 20px;
}

.glomp-collection.with-header .glomp-collection-item {
  padding-left: 30px;
}

.glomp-collection.with-header .glomp-collection-item.avatar {
  padding-left: 72px;
}

.secondary-content {
  float: right;
  color: #26a69a;
}

.collapsible .glomp-collection {
  margin: 0;
  border: none;
}

input[class=glomp-search] {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 1px;
  font-size: 16px;
  background-color: red;
  background-image: url('../images/search.png'); 
  background-position: center; 
  background-repeat: no-repeat;
  padding: 4px;
  background-size: contain;
  color: white;
}


.round-button {
	width:25%;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
  border-radius: 50%;
  border:10px solid #cfdcec;
  overflow:hidden;
  
  background: #4679BD; 
  box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background:#30588e;
}
.round-button a {
  display:block;
  float:left;
  width:100%;
  padding-top:50%;
  padding-bottom:50%;
  line-height:1em;
  margin-top:-0.5em;
  
  text-align:center;
  color:#e2eaf3;
  font-family:Verdana;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
}


.item {
    /*position:relative;
    padding-top:20px;
    display:inline-block;*/
    margin-top: 20%;
  }
  .notify-badge{
    position: relative;
    background: red;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    color: white;
    padding: 5px 10px;
    font-size: 1.0em;
    /* right: 16%; */
    width: 25px;
    height: 21px;
    top: 10px;
    left: 19px;
  }


  .pipe ul {
   margin-left: 0;
   padding-left: 0;
   display: inline;

 } 

 .pipe ul li {
   margin-left: 0;
   padding: 3px 15px;
   border-left: 1px solid #000;
   list-style: none;
   display: inline;
 }
 
 
 .pipe ul li.first {
   margin-left: 0;
   border-left: none;
   list-style: none;
   display: inline;
 }

 /* materialize additional style */
 .to-table {
  display: table;
  width: 100%;
  height: 100%;
}
.to-table [class*="col"] {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

/*glomp css */
.white {
  color:#ffffff !important;
  background-color: transparent !important;
}
a.forgot_pass:link {color: #ffffff;  font-weight: normal; text-decoration:underline;}
a.forgot_pass:active {color: #ffffff; font-weight: normal; }
a.forgot_pass:visited {color: #ffffff;  font-weight: normal;}
a.forgot_pass:hover {color: #ffffff; font-weight: normal;}
.p8px_5px_0px_5px{
  padding:8px 5px 0px 5px;
}
.glomp_input {
  text-align:center;
  resize:none;
  display: block;
  width: 100%;
  height: 24px;
  padding: 3px 6px;
  font-size: 16px !important;  
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 0px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.glomp_input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.menu_item_photo_3{
  width:55px;
  height:55px;
  margin:0px 4px;
}
.menu_item_description_wrapper{
  padding:10px 5px 0px 5px;
  color:#3C649A;
}
.menu_merchant{
  font-weight:bold;
  font-size:11px;
}
.menu_product{
  font-weight:bold;
  font-size:10px;
}
.menu_merchant_name_wrapper{
  margin:10px 5px 10px 5px;
}
.menu_merchant_name{
  font-weight:bold;
  font-size:12px;
  color:#41689D;
  padding:20px 0px 10px 0px;
}
.menu_item_points_wrapper {
  background-color: #FF0000;
  color: #FFFFFF;
  font-weight: bold;
  padding: 1px 2px;
  font-size: 13px;
  margin: 5px 0px 10px 0px;
  width: 28px;
  border-radius: 5px;
  padding-bottom: 8px;
}
.menu_item_points_wrapper_2{
  background-color: #FF0000;
  color:#FFFFFF;
  font-weight:bold;
  padding: 2px 8px 1px 8px;
  font-size:13px; 
  margin:2px 0px; 
  border-radius:5px;
}
.menu_item_points_wrapper_3{
  background-color: #FF0000;
  color:#FFFFFF;
  font-weight:bold;
  padding: 2px 4px 1px 4px;
}
.menu_item_operation_wrapper{   
  background-color: #ddd;
  margin:12px 15px;
  height:25px;
  width:25px;
  border-radius:5px;
  background-size: contain;    
  background-position:center;
  background-repeat:no-repeat;  
}
.menu_merchant_photo{
  width:80px;
  hieght:80px;
  border-radius:10px;
  box-shadow:3px 3px 1px #333;
  margin: 10px 5px 10px 0px;  
}
.menu_merchant_photo_2{
  width:80px;
  hieght:80px;
  border-radius:10px; 
  margin: 10px 5px; 
}
.menu_merchant_wrapper{
  background-color:#585F6A;
  color: #FFFFFF;
  font-size:13px;
  font-weight:bold;
  padding:2px 0px;
}
.menu_and_point_wrapper{    
  margin-left:-4px;
  padding:2px 4px;
  border: 1px solid #FFFFFF;
}
.menu_and_point_wrapper:hover{
  margin-left:-4px;
  background-color:#C5D4DF;
  border: 1px solid #B0B0B0;
  padding:2px 4px;
}
.menu_item_details{
  width:170px;
  border: 0px solid #FFF;
  padding:0px 2px;
}
.menu_item_photo_wrapper_2{
  padding:0px 5px;
}
.menu_item_photo_wrapper{
  padding:0px 0px;
}
.menu_item_photo_2{
  width:100px;
  height:100px;
}
/*floats**/
.fl{
  float:left !important;
}
.fr{
  float:right !important;
}
.cl{
  clear:both !important;
}
/*floats**/

/*widths*/
.w40px{
  width:40px;
}
.w50px{
  width:50px;
}
.w60px{
  width:60px;
}
.w70px{
  width:70px;
}
.w80px{
  width:80px;
}
.w100px{
  width:100px;
}
.w164px{
  width:164px;
}
.w202px{
  width:202px;
}
.w200px{
  width:200px;
}
.w100per{
  width:100% !important;
}
/*widths*/

/*buttons */
.btn-custom-white_xs {
    background-color:#fff!important;
    font-size:14px !important; 
    font-weight:bold !important; 
    color:#585F6B !important; 
    border:0 !important; 
    margin:1px 0px 1px 6px !important;
    padding:2px 6px 0px 6px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #fff !important;
    border-radius: 3px !important;
}
.btn-custom-blue-grey_xs{
    background-color:#6D89A6!important;
    font-size:14px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin:1px 0px 1px 6px !important;
    padding:2px 6px 0px 6px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #6D89A6 !important;
    border-radius: 3px !important;
}
.btn-custom-blue-glomp_xs {
  background-color:#59606A!important;
  font-size:12px !important; 
  font-weight:bold !important; 
  color:#fff !important; 
  border:0 !important; 
  margin:1px;
  padding:2px 2px !important; 
  border-radius: 0px !important; 
  text-align:center !important;
  border:solid 2px #59606A !important;
  border-radius: 3px !important;
}
.btn-custom-ash_xs {
  background-color:#DDE5EA!important;
  font-size:12px !important; 
  font-weight:bold !important; 
  color:#273F41 !important; 
  border:0 !important; 
  margin:1px !important;
  padding:2px 2px !important; 
  border-radius: 0px !important; 
  text-align:center !important;
  border:solid 2px #DDE5EA !important;
  border-radius: 3px !important;
}

.btn-custom-green_xs {
  background-color: #28bcb7!important;
  font-size: 12px !important;
  font-weight: bold !important;
  color: #ffffff !important;
  border: 0 !important;
  margin: 1px !important;
  padding: 2px 2px !important;
  border-radius: 0px !important;
  text-align: center !important;
}

.btn-custom-blue_fb_flat {
  background-color: #00448A!important;
  font-size: 12px !important;
  font-weight: bold !important;
  color: #ffffff !important;
  border: 0 !important;
  margin: 1px !important;
  padding: 2px 2px !important;
  border-radius: 0px !important;
  text-align: center !important;
}
.btn-custom-blue_li_flat {
  background-color: #0085AE!important;
  font-size: 12px !important;
  font-weight: bold !important;
  color: #ffffff !important;
  border: 0 !important;
  margin: 1px !important;
  padding: 2px 2px !important;
  border-radius: 0px !important;
  text-align: center !important;
}

.btn-custom-red_xs {
  background-color: #FF0000!important;
  font-size: 12px !important;
  font-weight: bold !important;
  color: #ffffff !important;
  border: 0 !important;
  margin: 1px !important;
  padding: 2px 2px !important;
  border-radius: 0px !important;
  text-align: center !important;
}


.btn-custom-blue_xs_fb{
    background-position: center;
    height:25px;
    width:25px;
    font-size:11px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin-:0px !important;
    padding:0px 3px 0px 3px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 0px #FF0000 !important;
    border-radius: 3px !important;
}


.btn-custom-light_blue_xs_tweet{
    background-position: center;
    height:25px;
    width:25px;
    font-size:11px !important; 
    font-weight:bold !important; 
    color:#257896; 
    border:0 !important; 
    margin:0px;
    margin-left:8px;
    padding:0px 3px 0px 3px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 0px #FF0000 !important;
    border-radius: 3px !important;
}

a.btn-page {
    border-radius: 6px;
    padding:6px 10px;
    font-size: 14px;
    color: #111;
    background: #eee;
    border: 0;
    text-align:center
}
a.btn-page.btn-grey {
    color: #fff;
    background: #585F6A;
}
a.btn-page.btn-lgrey {
    color: #59616A;
    background: #D1D5E1;
}

/*dialogs */

/* dialogs custom style */
.dialog_style_item_details{
    color:#ffffff !important;
    background-color: #585F6A  !important;
    border-color: #fff !important;  
  outline: none !important;
  font-size:10px !important;
}
.dialog_style_item_details .ui-dialog-title {font-size:12px !important;}
.dialog_style_item_details .ui-dialog-titlebar {text-align:center;}
.dialog_style_item_details .ui-widget-content {
    border: 2px solid #333 ;
    background: #585F6A ;
    color: #ffffff;
}
.dialog_style_item_details .ui-dialog-content{
    border: 0px solid #333 !important;
    background: #585F6A ;
    color: #ffffff;
  padding:0px !important;
  
  text-align:left;
  float:left !important;
}
.dialog_style_item_details .ui-icon-closethick{
  background-size: contain !important;    
  background-image:url("/assets/m/css/south-street/images/close_icon.png") !important;        
  background-position:0px 0px;
    background-repeat:no-repeat !important; 
  margin:-10px -8px 0px !important;
  outline: none !important;
  
}
.dialog_style_item_details .ui-icon-closethick:focus {outline: none; }
.dialog_style_item_details .ui-dialog-titlebar{
  padding:0px !important;
}
.dialog_style_item_details .ui-widget-header .ui-state-default {
    border: 0px solid #585F6A ;
  padding:0px !important;
    background: #585F6A ;
    font-weight: normal;
    color: #ffffff;
}

.dialog_style_item_details  .ui-dialog-buttonpane{
  display:none !important;
}
.dialog_style_item_details .ui-widget-header {
  border: 0px solid #333;
  /*background: #3a8104 url(images/ui-bg_highlight-soft_33_3a8104_1x100.png) 50% 50% repeat-x;*/
  color: #ffffff;
  font-weight: bold;
}

.noTitleStuff .ui-dialog-titlebar {display:none !important;}

.dialog_style_glomp {
    color: #ffffff !important;
    background-color: #585F6A !important;
    border-color: #fff !important;
    outline: none !important;
    font-size: 9px !important;
}
.dialog_style_glomp .ui-dialog-title {font-size:8px !important;}
.dialog_style_glomp .ui-dialog-titlebar {text-align:center;}
.dialog_style_glomp .ui-widget-content {
  border: 2px solid #333 ;
  color: #ffffff;
  float:left !important;  
  width:100% !important;
}
.dialog_style_glomp .ui-dialog-content{
  border:0px solid #333 !important;
  background: #89C342 ;
  color: #ffffff;
  padding:5px !important;
  
  text-align:left;  
}
.dialog_style_glomp .ui-icon-closethick{
  display:none !important;
  width:0px !important;
  
}
.dialog_style_glomp .ui-icon-closethick:focus {outline: none; }
.dialog_style_glomp .ui-dialog-titlebar{
  padding:0px !important;
}
.dialog_style_glomp .ui-widget-header .ui-state-default {
  border: 0px solid #89C342 !important;
  padding: 4px !important;
  background: #585F6A;
  font-weight: normal;
  color: #ffffff;
}

.dialog_style_glomp  .ui-dialog-buttonpane{
  padding:2px 10px 4px 10px !important;
}
.dialog_style_glomp .ui-widget-header {
  border: 0px solid #333 !important;
  padding: 1px !important;
  margin: 2px 0px 0px 0px!important;
  /* height: 22px !important; */
  /* background-image: url(http://staging3.glomp.it/assets/m/images/glomp-login-logo-2.png); */
  background-size: 82px;
  background-position: center;
  background-repeat: no-repeat !important;
  color: #ffffff;
  font-weight: bold;
}


.dialog_style_glomped_alerts{
    color:#ffffff !important;
    background-color: #585F6A  !important;
    border-color: #fff !important;  
  outline: none !important;
  font-size:12px !important;
}
.dialog_style_glomped_alerts .ui-dialog-title {font-size:12px !important;}
.dialog_style_glomped_alerts .ui-dialog-titlebar {text-align:center;}
.dialog_style_glomped_alerts .ui-widget-content {
    border: 2px solid #333 ;
    background: #585F6A ;
    color: #ffffff;
}
.dialog_style_glomped_alerts .ui-dialog-content{
    border: 0px solid #333 !important;
    background: #585F6A ;
    color: #ffffff;
  padding:5px !important;
  
  text-align:left;  
}
.dialog_style_glomped_alerts .ui-icon-closethick{
  display:none !important;
  width:0px !important;
  
}
.dialog_style_glomped_alerts .ui-icon-closethick:focus {outline: none; }
.dialog_style_glomped_alerts .ui-dialog-titlebar{
  padding:0px !important;
}
.dialog_style_glomped_alerts .ui-widget-header .ui-state-default {
    border: 0px solid #585F6A !important ;
  padding:0px !important;
    background: #585F6A ;
    font-weight: normal;
    color: #ffffff;
}

.dialog_style_glomped_alerts  .ui-dialog-buttonpane{

}
.dialog_style_glomped_alerts .ui-widget-header {
  border: 0px solid #333 !important;
  /*background: #3a8104 url(images/ui-bg_highlight-soft_33_3a8104_1x100.png) 50% 50% repeat-x;*/
  color: #ffffff;
  font-weight: bold;
}

.dialog_style_glomped_alerts .ui-dialog-titlebar{
  padding:0px !important;
}


.dialog_style_glomp_wait{
    color:#ffffff !important;
    background-color: #89C342  !important;
    border-color: #fff !important;  
  outline: none !important;
  border: 2px solid #C7D82E  !important;
  font-size:12px !important;
    min-height: 20px !important;
}
.dialog_style_glomp_wait .ui-dialog-title {font-size:8px !important;}
.dialog_style_glomp_wait .ui-dialog-titlebar {text-align:center;}
.dialog_style_glomp_wait .ui-widget-content {
    border: 2px solid #333 ;
    background: #89C342 ;
    color: #ffffff;
}
.dialog_style_glomp_wait .ui-dialog-content{
    border: 0px solid #333 !important;
    background: #89C342 ;
    color: #ffffff;
  padding:5px !important;
  
  text-align:left;  
}
.dialog_style_glomp_wait .ui-icon-closethick{
  display:none !important;
  width:0px !important;
  
}
.dialog_style_glomp_wait .ui-icon-closethick:focus {outline: none; }
.dialog_style_glomped_alerts .ui-dialog-titlebar{
  padding:0px !important;
}
.dialog_style_glomp_wait .ui-widget-header .ui-state-default {
    border: 0px solid #89C342 !important ;
  padding:0px !important;
    background: #89C342 ;
    font-weight: normal;
    color: #ffffff;
}

.dialog_style_glomp_wait  .ui-dialog-buttonpane{

}
.dialog_style_glomp_wait .ui-widget-header {
  border: 0px solid #333 !important;
  /*background: #3a8104 url(images/ui-bg_highlight-soft_33_3a8104_1x100.png) 50% 50% repeat-x;*/
  color: #ffffff;
  font-size: 12px !important;
  font-weight: bold !important;
}


.share_wrapper_box { 

    display:none;
    position: relative; 
    background: #D2D7E1; 
    border: 1px solid #6E90B9;     
    width:105px;
    margin-right:53px;
    margin-top:-25px;
    padding:4px 2px 1px 2px;    
    z-index:100;    
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
 } 
.share_wrapper_box:after, .share_wrapper_box:before {     
    left: 100%; 
    top:50%;
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none;
    
} 
.share_wrapper_box:after { 
    border-color: rgba(255, 255, 255, 0); 
    border-left-color: #D2D7E1; 
    border-width: 4px; 
    margin-top: -10px; 
} 
.share_wrapper_box:before { 
    border-color: rgba(110, 114, 185, 0); 
    border-left-color: #6E90B9; 
    border-width: 6px; 
    margin-top: -12px;    
}


.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -ms-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
  
 animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
.validate_success_ball{   
  background : -moz-radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    background : -webkit-radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    background : -webkit-gradient(radial,30.01% 19.5% ,0.8 , 30.01% 19.5%, 47.53 ,color-stop(0.0169,rgba(255, 255, 255, 1) ),color-stop(0.118,rgba(151, 178, 209, 1) ),color-stop(1,rgba(25, 61, 84, 1) ));
    background : -o-radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    background : -ms-radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
    background : radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    width : 60px;
    height : 60px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2); 
    margin-top :5px;
    margin-left :5px;
    border-radius:100%;  
   
    -webkit-box-shadow: 1px 1px 20px rgba(168, 205, 57, 1.0);
    -moz-box-shadow:    1px 1px 20px rgba(168, 205, 57, 1.0);
    box-shadow:         1px 1px 20px rgba(168, 205, 57, 1.0); 
}
.validate_success_ball img{
   margin-top:20px;
   margin-left :0px;
   width:24px;
   height:17px;
}


.glompoints {
    background: none repeat scroll 0 0 #eb2227;
    padding: 8px 10px  5px 10px; 
    text-align: center;
    width:120px;
    color:#fff;
}

.glompSelPoints{ 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    -khtml-border-radius: 0px; 
    border-radius: 0px;     
    border-right:1px solid white;
    border-bottom:1px solid white;
    text-align:center; 
    color: white; 
    font-size:24px; font-weight:bold;
    margin:0px 0px 0px 0px;
    float:left;
    padding:22px 10px 0px 10px;
    cursor:pointer;
    color: white;
    width:33.33%;
}
.glompPackagePrice {
    font-size:11px;
    font-weight:normal;
    color: white;
}

.level{ font-size:16px; padding:0 0 4px 0; font-weight:bold;}
.points{ font-size:30px;font-weight:bold;}