body {background: #eee !important;}

::-webkit-input-placeholder { /* Chrome */
  color: #808183;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #808183;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #808183;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #808183;
  opacity: 1;
}

.main-container {margin: 0 auto; width: 100%; background: #505153; border: 1px solid #ccc;  padding: 10px 40px 40px; color: #FFF}

.register-form {}
.register-form input[type=text] {width: 100%; margin-bottom: 10px; padding: 5px; color: #505153;}
.register-form .button-container {width: 100%; text-align: center; }
.register-form .button-container button {color: #505153}

.form-title {font-size: 38px; font-weight: 200; text-align: center; color: #FF432E}
.form-description {color: #FFF; font-size: 15px}